.profile-pic {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-ryan {
  background: url("../img/profile-ryan.jpg");
  background-size: auto 100%;
}

.profile-jordan {
  background: url("../img/profile-jordan.jpg");
  background-size: auto 100%;
}

.profile-john {
  background: url("../img/profile-john.jpg");
  background-size: auto 100%;
}

.profile-pic-large {
  width: rem(287.074);
  height: rem(287.074);
}

.profile-pic.pull-right {
  margin-left: rem(20);
}
