/**
 * Application stylesheet for HolyArchers Wordpress Theme.
 *
 * @author Ryan LaBouve
 *
 * TODO: Refactor scss/_blocks/_container
 * TODO: Refactor scss/_blocks/_wrapper
 * TODO: Refactor scss/_elements/_profilepic_
 * TODO: Refactor scss/_blocks/_mobilemenu
 * TODO: Refactor scss/_blocks/_navigation
 *
 */

/* ==========================================================================
 Config
 ========================================================================== */

@import "_config/_variables";
@import "_config/_reset";

/* Config: Utilities
 ========================================================================== */
@import "_config/_utilities/_mediaqueries";
@import "_config/_utilities/_clearfix";
@import "_config/_utilities/_pull_x";
@import "_config/_utilities/_em";
@import "_config/_utilities/_rem";
@import "_config/_utilities/_size";
@import "_config/_utilities/_font-size-rem";
@import "_config/_utilities/_hide_mobile";
@import "_config/_utilities/_only_mobile";

/* ==========================================================================
 Mixins
 ========================================================================== */

@import "_mixins/_box.scss";
@import "_mixins/_sans-serif.scss";
@import "_mixins/_serif-heading.scss";
@import "_mixins/_serif.scss";


/* ==========================================================================
 Grid
 ========================================================================== */

@import "_grid";


/* ==========================================================================
 Base
 ========================================================================== */

@import "_base/_base";


/* ==========================================================================
 Elements
 ========================================================================== */

@import "_elements/_profilepic/_profilepic";


/* ==========================================================================
 Blocks
 ========================================================================== */

@import "_blocks/_entry/_entry";
@import "_blocks/_navigation/_navigation";
@import "_blocks/_searchbar/_searchbar";
@import "_blocks/_mobilemenu/_mobilemenu";
@import "_blocks/_wrapper/_wrapper";
@import "_blocks/_container/_container";

/* ==========================================================================
 Shame
 ========================================================================== */

article {
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -200px, 0);
    -ms-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: hsl(0, 0%, 67%);
}

.language-markup .token.tag, .language-markup .token.attr-name, .language-markup .token.punctuation {
  color: hsl(33, 53%, 62%);
}
