@import "normalize";

$ha-red: #a41d21;
$ha-gold: #c7b572;
$ha-blue: #81bcd3;
$ha-black: #463F3F;

a:link, a:visited {
  color: $ha-blue;
}
a:hover, a:active {
  color: darken($ha-blue, 10);
}

@mixin serif {
  font-family: 'abril-titling', serif;
}

@mixin sans-serif {
  font-family: 'proxima-nova', sans-serif;
}

@mixin box {
  background: #FFFFFF;
  -moz-box-shadow:    0px 2px 10px 0px rgba(150,150,150,0.38),
                      0 -2px 0 rgba(0,0,0,0.2) inset;
  box-shadow:         0px 2px 10px 0px rgba(150,150,150,0.38),
                      0 -2px 0 rgba(0,0,0,0.3) inset;
  padding: 1rem;
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin narrow {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin wide {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.box {
  @include box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.main-navigation {
  ul {
    display: inline-block;
    li {
      display: inline-block;
      float: left;
    }
  }
}

body {
  font-family: 'proxima-nova', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.1em;
  background: #ccc url('../img/noise.png');
  background-size: 60px 60px;
}


.site-content {
  flex: 1;
  /* Rectangle 8: */
  .box {
    padding-bottom: 4em;
  }
}

.entry-content {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
}

.wrapper-header {
  background: $ha-black;
  color: white;
  min-height: 37px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.site-title, h1.site-title {
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  margin: 0;
  padding: 0;
  line-height: 1;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  letter-spacing: 0.01em;
  img {
    display: inline;
    height: 22px;
    margin-right: 0.2em;
    background: white;
  }
}

.wrapper-footer {
  @include serif;
  background: $ha-black;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 100;
  color: white;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  color: rgba(255,255,255,0.8);
}
.main-navigation {
  ul {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      display: block;
      margin: 1em;
    }
  }

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover, a:active {
    color: darken(white, 10);
  }

  .search {
    margin: 0;
    padding: 1em;
    background: darken($ha-black, 10);
    cursor: pointer;
  }
}

.pages-nav {
  @include serif;
  font-style: italic;
  font-size: 0.9em;
  a:link, a:visited {
    color: rgba(255,255,255,0.6);
  }
}


.container {
  max-width: 960px;
  margin: auto;
}

.row {
  min-width: 960px;
}
.row .row {
  min-width: inherit;
}
@media only screen and (max-width : 960px) {
  .row {
    min-width: inherit;
  }
}

.container-widgets {
  margin-top: 1em;
  margin-bottom: 2em;
}

.footer-ha-badge {
  height: 22px;
  display: block;
}

.container-widgets {
  position: relative;
  img {
    max-width: 100%;
  }

  .container-about {
    h1 {
      @include serif;
      text-transform: uppercase;
      line-height: 1;
      margin-top: 1em;
      margin-bottom: 0;
    }
    h2 {
      @include serif;
      color: $ha-red;
      font-size: 1em;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }
    p {
      color: #aaa;
      line-height: 1.4;
      font-weight: 300;
      text-align: center;
      font-size: 0.8em;
    }
    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.display-posts-listing {
  border-top: 1px solid #eee;
  .listing-item {
    border-bottom: 1px solid #eee;
    padding: .3em 0;
  }
  a.title:link, a.title:visited  {
    color: #aaa;
    font-weight: 300;
    font-size: .8em;
    text-decoration: none;
  }
  .date {
    @include serif;
    font-style: italic;
    color: $ha-red;
    font-weight: bold;
    font-size: 0.7em;
    display: block;
    padding-left: 1em;
  }
}

.entry-header {
  @include serif;
  font-size: 1.5em;
  text-decoration: none;
}

.entry-date {
  @include sans-serif;
  font-size: 0.6em;
  color: #B51414;
  text-align: right;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;

}

.entry-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.7em;
    color: $ha-black;
    a:link, a:visited {
      text-decoration: none;
      color: $ha-black;
    }
}
.entry-summary {
  line-height: 1.5;
  color: #C8C8C8;

}
.box-main {
  padding-left: 8em;
  padding-right: 8em;

  @include narrow {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.post {
  border-bottom: 1px solid #E0E0E0;
  padding-top: 2em;
  padding-bottom: 4em;
}

.nav-links {
  a:link, a:visited {
      display: block;
      color: white;
      text-decoration: none;
      color: rgba(255,255,255,0.8);
      background: $ha-black;
      padding: 1em 1.5em;
      font-size: 0.8em;
      box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
    }
    a:hover, a:active {
      color: white;
    }
  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
  }
}

blockquote {
  @include serif;
  color: #aaa;
  font-style: italic;
  box-shadow: -3px 0 0 $ha-blue;
  margin: 0;
  padding: .5em 2em;
}

.content-area {
  ol, ul {
    border-top: 1px solid lighten($ha-black, 50);
    border-bottom: 1px solid lighten($ha-black, 50);
    padding: 0;
    li {
      border-bottom: 1px solid  lighten($ha-black, 65);
      padding: 0.7em 2em;
      list-style: none;
    }
  }

  ol {
    counter-reset: ordered-list;
  }
  ol li {
    &:before {
      @include serif;
      /* font-style: italic; */
      font-weight: 300;
      content: counter(ordered-list);
      counter-increment: ordered-list;
      display: block;
      margin-left: -43px;
      padding: 0 30px;
      float: left;
      color: $ha-blue;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
    }
    &:last-child {
      border: none;
    }
  }

}


.search-bar {
  background: darken($ha-black, 10);
  -webkit-transition: all 0.1s ease-in;
  height: 0;
  input {
    background: transparent;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    outline: none;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 30px;
    overflow:hidden;
    text-shadow: 0 0 5px rgba(255,255,255,0.1);
  }
}

body.search-active {
  .search-bar {
    height: 60px;
  }
}
