@import "variables";
@import "normalize";
@import "utilities";
@import "mediaqueries";
@import "mixins";


/* Base Responive Type*/
html {
  font-size: 100%;

  @include tablet {
    font-size: 0.8em;
  }
  @include narrow {
    font-size: 0.7em;
  }
}


/* Defaults */
body {
  font-family: 'proxima-nova', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #424242;
  background: #ccc url('../img/noise.png');
  background-size: 60px 60px;

}

article, .site-content {
  h1 {
    @include serif;
    font-size: rem(41.887);
    margin-top: rem(25.888);
    margin-bottom: rem(12);
    line-height: rem(41.887);
  }
  p {
    font-size: rem(25.888);
    line-height: rem(41.887);
    margin-top: rem(0);
    margin-bottom: rem(32.360);
  }

  p + p {
    /* margin-top: rem(-6); */
  }
}

.entry-header {
  text-decoration: none;
}

.entry-date {
  @include sans-serif;
  font-size: rem(14);
  margin-top: rem(4.772);
  margin-bottom: rem(4.772);
  line-height: 1em;

  color: #B51414;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;

}

.entry-title {
    margin-top: 0;
    margin-bottom: 0;
    color: $ha-black;
    a:link, a:visited {
      text-decoration: none;
      color: $ha-black;
    }
}
.entry-summary {
  line-height: 1.5;
  color: #C8C8C8;

}


a:link, a:visited {
  color: $ha-blue;
}
a:hover, a:active {
  color: darken($ha-blue, 10);
}

.entry-content {
  font-size: rem(20);
}

/* h1 a:link, h1 a:visited {
  font-size: rem(32);
}
 */

.box {
  @include box;
  display: flex;
  min-height: 230px;
  .row {
    min-height: 230px;
    .col-xs-8 {
      margin-top: 1.2em;
    }
  }
}

.main-navigation {
  ul {
    display: inline-block;
    li {
      display: inline-block;
      float: left;
    }
  }
}

.site-content {
  flex: 1;
  /* Rectangle 8: */
  .box {
    padding-bottom: 4em;
  }
}

.entry-content {
  font-weight: 300;
  line-height: 1.4;
}

.wrapper-header {
  background: $ha-black;
  color: white;
  min-height: 37px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

.site-title, h1.site-title {
  font-size: 1.9em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  margin: 0;
  padding: 0;
  line-height: 1;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  letter-spacing: 0.01em;
  img {
    display: inline;
    height: rem(22);
    margin-right: 0.2em;
    background: white;
  }


  @include narrow {
    margin-left: 0.5em;
    line-height: 1.7;
    img {
      height: 14px;
    }
  }
}

.wrapper-footer {
  @include serif;
  background: $ha-black;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 100;
  color: white;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  color: rgba(255,255,255,0.8);
}
.main-navigation {
  ul {
    padding-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      display: block;
      margin: 1em;
    }
  }

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover, a:active {
    color: darken(white, 10);
  }

  .search {
    margin: 0;
    padding: 1.1rem;
    background: darken($ha-black, 10);
    cursor: pointer;
    @include narrow {
      padding: 1.7rem;
    }
  }
}

.pages-nav {
  @include serif;
  font-style: italic;
  font-size: 0.9em;
  a:link, a:visited {
    color: rgba(255,255,255,0.6);
  }
}


.container {
  max-width: 960px;
  margin: auto;
  word-wrap: break-word;
  @include narrow {
    margin: inherit;
  }
}

.row {
  min-width: 960px;
}
.row .row {
  min-width: inherit;
}
@media only screen and (max-width : 960px) {
  .row {
    min-width: inherit;
  }
}

.container-widgets {
  margin-top: 1em;
  margin-bottom: 2em;
}

.footer-ha-badge {
  height: 22px;
  display: block;
}

.profile-pic {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile-ryan {
  background: url("../img/profile-ryan.jpg");
  background-size: auto 100%;
}
.profile-pic-large {
  width: rem(287.074);
  height: rem(287.074);
}

.profile-pic.pull-right {
  margin-left: rem(20);
}
.container-widgets {
  position: relative;
  img {
    max-width: 100%;
  }

  .container-about {
     margin-bottom: 1em;
/*padding-top: 3em;
padding-bottom: 3em; */
    h1 {
      @include serif;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 0;
      margin-top: 2rem;
    }
    h2 {
      @include serif;
      color: $ha-red;
      font-size: 1em;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      color: #aaa;
      line-height: 1.4;
      font-weight: 300;
      font-size: 0.9em;
      margin-top: 0.5em;
      margin-bottom: 0.2em;
    }

    @include tablet {
      font-size: rem(25.888);
      line-height: rem(41.887);
      margin-top: rem(0);
      margin-bottom: rem(32.360);
      padding-bottom: rem(32);

      .profile-pic {
        margin: auto;
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }

    }

    @include narrow {
      font-size: rem(25.888);
      line-height: rem(41.887);
      h1 {
        margin-top: rem(20);
      }
      margin-top: rem(20);
      margin-bottom: rem(32.360);
      padding-bottom: rem(32);
      padding-left: rem(20);
      padding-right: rem(20);
      text-align: center;
      .profile-pic {
        margin: auto;
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }
    }
  }
}

.display-posts-listing {
  border-top: 1px solid #eee;
  .listing-item {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: .3rem 0;
    padding-top: 1.1rem;
    .date {
      position: absolute;
      top: 0.3rem;
    }
  }
  a.title:link, a.title:visited  {
    color: #aaa;
    font-weight: 300;
    font-size: 0.9em;
    text-decoration: none;

    @include tablet {
      font-size: rem(25.888);
      line-height: rem(41.887);
      margin-top: rem(0);
      margin-bottom: rem(32.360);
    }
    @include narrow {
      font-size: rem(25.888);
      line-height: rem(41.887);
      margin-top: rem(0);
      margin-bottom: rem(32.360);
    }
  }
  .date {
    @include serif;
    font-style: italic;
    color: $ha-red;
    font-weight: bold;
    font-size: 0.4rem;
    display: block;
    padding-left: 1em;
  }
}

.widget {
  width: 100%;
}
.post {
  border-bottom: 1px solid #E0E0E0;
  padding-top: rem(20);
  padding-bottom: rem(41.887);
}

.box-main {
  padding-left: rem(109.657);
  padding-right: rem(109.657);

  @include narrow {
    padding-left: 2em;
    padding-right: 2em;
  }
}


.nav-links {
  a:link, a:visited {
      display: block;
      color: white;
      text-decoration: none;
      color: rgba(255,255,255,0.8);
      background: $ha-black;
      padding: 1em 1.5em;
      font-size: 0.8em;
      box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
    }
    a:hover, a:active {
      color: white;
    }
  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
  }
}

blockquote {
  @include serif;
  color: #aaa;
  font-style: italic;
  box-shadow: -3px 0 0 $ha-blue;
  margin: 0;
  padding: rem(12) rem(20);
}

.content-area {
  ol, ul {
    border-top: 1px solid lighten($ha-black, 50);
    border-bottom: 1px solid lighten($ha-black, 50);
    padding: 0;
    li {
      border-bottom: 1px solid  lighten($ha-black, 65);
      padding: rem(12) rem(20);
      list-style: none;
    }
  }

  ol {
    counter-reset: ordered-list;
  }
  ol li {
    &:before {
      @include serif;
      /* font-style: italic; */
      font-weight: 300;
      content: counter(ordered-list);
      counter-increment: ordered-list;
      display: block;
      margin-left: rem(-32.360);
      padding: 0 rem(32.360);
      float: left;
      color: $ha-blue;
      font-weight: 700;
      font-size: rem(32.360);
      line-height: rem(32.360);
    }
    &:last-child {
      border: none;
    }
  }

}


.search-bar {
  background: darken($ha-black, 10);
  -webkit-transition: all 0.1s ease-in;
  height: 0;
  input {
    background: transparent;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    outline: none;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 30px;
    overflow:hidden;
    text-shadow: 0 0 5px rgba(255,255,255,0.1);
  }
}

body.search-active {
  .search-bar {
    height: 60px;
  }
}

.box-highlight {
  background: $ha-gold;
  text-align: center;

  a {
    color: white;
    font-size: 6em;
    line-height: 2em;
    margin: auto;
    width: 100%;
  }
}

.only-mobile {
  display: none !important;
  @include narrow {
    display: inherit !important;
  }
}

.hide-mobile {
  @include narrow {
    display: none !important;
  }
}

#mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
}

@media all and (min-width: $tablet-width) {
  #mobile-menu {
    display: none !important;
  }
}
#mobile-menu {


  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  &.menu-hide {
    top:-5000px;
  }
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $ha-black;

  .close {
    text-align: right;
    background: darken($ha-black, 10);
    a {
      color: white;
      font-size: 2em;
      padding-right: .5em;
      padding-top: .5em;
    }
  }

  .menu-social {
    padding-left: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    li {
      list-style: none;
      display: inline-block;
      padding: rem(20);
    }

    a:link, a:visited {
      font-size: rem(25);
      color: white;

    }
  }

  .menu-pages {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      padding: 1em;
    }
    a:link, a:visited {
      font-size: rem(30);
      color: white;
      text-decoration: none;
      font-weight: 700;
      padding-top: rem(16);
      padding-bottom: rem(16);
      display: block;
    }
  }
}

.menu-btn {
  @include narrow {
    margin: 1.7rem !important;
  }
}
