/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

@mixin cf {
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;

  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

.cf {
    @include cf;
}


@mixin pull-left {
  float: left;
}
.pull-left {
  @include pull-left;
}

@mixin pull-right {
  float: right;
}
.pull-right {
  @include pull-right;
}


@function em($target, $base: $base-font-size) {
  @return ($target/$base) * 1em;
}

@function rem($target) {
  @return ($target/$base-font-size) * 1rem;
}

@mixin size($prop: "font-size", $target: $base-font-size) {
  #{$prop}: $target;
  #{$prop}: rem($target);
}
@mixin font-size-rem($target) {
  font-size: $target * 1px;
  font-size: rem($target);
}
