/**
 * _base.scss
 */

 /* ==========================================================================
 General Defaults
 ========================================================================== */


body {
    font-family: 'proxima-nova', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #424242;
    background: #ccc url('../img/noise.png');
    background-size: 61px 61px;
}

img {
    max-width: 100%;
}

a:link,
a:visited {
    color: $ha-blue;
}
a:hover,
a:active {
    color: darken($ha-blue, 10);
}

a.btn:link, a.btn:visited  {
  border: 1px solid rgba(67, 61, 61, 0.1);
  padding: 0.7em 1.7em;
  color: #B51414;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
}

a.btn:hover, a.btn:active  {
  border: 1px solid transparent;
  padding: 0.7em 1.7em;
  background: #B51414;
  color: white;
}

blockquote {
    @include serif;
    color: #aaa;
    font-style: italic;
    box-shadow: -3px 0 0 $ha-blue;
    margin: 0;
    padding: rem(12) rem(20);
}

/* ==========================================================================
 Typography
 ========================================================================== */

html {
    font-size: 100%;
    @include tablet {
        font-size: 0.8em;
    }
    @include narrow {
        font-size: 0.7em;
    }
}

/* Opt-In Typography
 ========================================================================== */
table {
    font-size: rem(20);
    width: 100%;
}

thead {
    border-bottom: 3px solid $ha-black;
    text-align: left;
}

tbody {
    tr:nth-child(even) {
        background: rgba(0,0,0,0.05);
    }
    td {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.typography {
    flex: 1;
    /* Rectangle 8: */
    .box {
      padding-bottom: 4em;
    }

    h1 {
        @include serif-heading;
        font-size: rem(41.887);
        margin-top: rem(25.888);
        margin-bottom: rem(12);
        line-height: rem(41.887);
    }

    h2 {
        font-size: 2.618rem;
        line-height: 2.618rem;
        margin-top: 2.618rem;
        margin-bottom: 0.7rem;

    }

    h3 {
        font-size: 1.618rem;
        line-height: 2.023rem;
        margin-bottom: 0.3rem;
        margin-top: 2.618rem;
    }

    h2 + h3 {
        margin-top: 2.023;
    }

    h4 {
        margin-bottom: 0.3rem;
    }

    p {
      font-size: rem(25.888);
      line-height: rem(41.887);
      margin-top: rem(0);
      margin-bottom: rem(25.888);
      font-weight: 300;
    }

    code {
        padding: 0.1em 0.5em;
        font-size: 0.85em;
        background: rgba(0,0,0,0.08);
        font-family: Consolas, monaco, monospace;
    }

    pre {
        margin-top: 2em;
        margin-bottom: 2em;
        code {
            background: transparent;
        }
    }


    ol, ul {
        font-size: rem(32.360);
        font-weight: 100;
        border-top: 1px solid lighten($ha-black, 50);
        border-bottom: 1px solid lighten($ha-black, 50);
        padding: 0;

        li {
            border-bottom: 1px solid  lighten($ha-black, 65);
            padding: rem(12) rem(20);
            list-style: none;
        }

        ul, ol {
            font-size: rem(16);
            border-top: 0;
            border-bottom: 0;
            li {
                border-bottom: 0;
                list-style: circle;
                margin-left: 2em;
            }
        }
    }

    ol {
        counter-reset: ordered-list;
    }

    ol li {
        &:before {
            @include serif;
            /* font-style: italic; */
            font-weight: 300;
            content: counter(ordered-list);
            counter-increment: ordered-list;
            display: block;
            margin-left: rem(-32.360);
            padding: 0 rem(32.360);
            float: left;
            color: $ha-blue;
            font-weight: 700;
            font-size: rem(32.360);
            line-height: rem(32.360);
        }
        &:last-child {
            border: none;
        }
    }
}

.box {
  @include box;
  display: flex;
  min-height: 230px;
  .row {
    min-height: 230px;
    .col-xs-8 {
      margin-top: 1.2em;
    }
  }
}

.site-title, h1.site-title {
  font-size: 1.9em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  margin: 0;
  padding: 0;
  line-height: 1;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  letter-spacing: 0.01em;
  img {
    display: inline;
    height: rem(22);
    margin-right: 0.2em;
  }


  @include narrow {
    margin-left: 0.5em;
    line-height: 1.7;
    img {
      height: 14px;
    }
  }
}

.pages-nav {
  @include serif;
  font-style: italic;
  font-size: 0.9em;
  a:link, a:visited {
    color: rgba(255,255,255,0.6);
  }
}

.footer-ha-badge {
  height: 22px;
  display: block;
}

.display-posts-listing {
  border-top: 1px solid #eee;
  .listing-item {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: .3rem 0;
    padding-top: 1.1rem;
    .date {
      position: absolute;
      top: 0.3rem;
    }
  }
  a.title:link, a.title:visited  {
    color: #aaa;
    font-weight: 300;
    font-size: 0.9em;
    text-decoration: none;

    @include tablet {
      font-size: rem(25.888);
      line-height: rem(41.887);
      margin-top: rem(0);
      margin-bottom: rem(32.360);
    }
    @include narrow {
      font-size: rem(25.888);
      line-height: rem(41.887);
      margin-top: rem(0);
      margin-bottom: rem(32.360);
    }
  }
  .date {
    @include serif;
    font-style: italic;
    color: $ha-red;
    font-weight: bold;
    font-size: 0.4rem;
    display: block;
    padding-left: 1em;
  }
}

.widget {
  width: 100%;
}

.post {
  border-bottom: 1px solid #E0E0E0;
  padding-top: rem(20);
  padding-bottom: rem(41.887);
  width: 100%;
}

.box-main {
  padding-left: rem(109.657);
  padding-right: rem(109.657);

  @include narrow {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.box-highlight {
  background: $ha-gold;
  text-align: center;

  a {
    color: white;
    font-size: 6em;
    line-height: 2em;
    margin: auto;
    width: 100%;
  }
}
