@import "_entry__content";
@import "_entry__date";
@import "_entry__header";
@import "_entry__summary";
@import "_entry__title";

.entry {
    padding-top: 1.25rem;
    padding-bottom: 2.023rem;
    border-bottom: 1px solid lighten($ha-black, 65);
}
