@mixin serif-heading {
  font-family: 'abril-titling', serif;
}

@mixin serif {
  font-family: 'abril-text', serif;
}

@mixin sans-serif {
  font-family: 'proxima-nova', sans-serif;
}


@mixin box {
  background: #FFFFFF;
  -moz-box-shadow:    0px 2px 10px 0px rgba(150,150,150,0.38),
                      0 -2px 0 rgba(0,0,0,0.2) inset;
  box-shadow:         0px 2px 10px 0px rgba(150,150,150,0.38),
                      0 -2px 0 rgba(0,0,0,0.3) inset;
  padding: 1rem;
}
